*/__pycache__
__pycache__
.env
aws_deployments
*/.*.db.lock
volumes/
.sesskey
demo_deployments/
.DS_Store
milvus.db
.milvus.db.lock
./*.db
./*.sqlite
./.*.db.lock
nginx/certs/*.crt
nginx/certs/*.key
nginx/logs/
data_storage/user_database
*.mdf