fastapi
sentence_transformers
faiss-cpu
python-dotenv
uvicorn
pandas
numpy
streamlit
aisuite
openai
groq
anthropic
pymilvus
langchain
langchain-community
langchain_groq
langchain_openai
vanna
pymilvus[model]
pydantic
orjson
docstring_parser
vertexai